<ion-content>

    <div class="header">
        <h2>{{nom}} {{prenom}}</h2>

        <div class="space-between">
            <div class="followings">
                <ion-badge color="primary" mode="ios">{{nbClients}}</ion-badge>
                <p>Clients</p>
            </div>

            <div class="followings">
                <ion-badge color="primary" mode="ios">{{nbLivraisons}}</ion-badge>
                <p>Livraisons</p>
            </div>
        </div>

    </div>
    <div class="flex">
        <div class="border-blue">
            <div class="border-white">
                <div class="img-box">
                    <img src="https://th.bing.com/th/id/OIP.R9HMSxN_IRyxw9-iE1usugHaHU?pid=ImgDet&rs=1">
                </div>
            </div>
        </div>
    </div>

    <!--
    <ion-card>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="../../assets/elon-musk.jpg" />
            </ion-avatar>
            <ion-label>
                <h2><b>Elon Musk</b></h2>
                <p>Il y a 14 heures</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
            <ion-label text-wrap>Production version will be a lot more polished than this prototype, but still fun to see</ion-label>
        </ion-item>
        <ion-button size="small" fill="clear" (click)="onClick()">
            <ion-icon slot="start" name="text"></ion-icon> 34
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onClick()">
            <ion-icon slot="start" name="repeat"></ion-icon> 116
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onClick()">
            <ion-icon slot="start" name="heart-empty"></ion-icon> 210
        </ion-button>
    </ion-card>



    <ion-card>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="../../assets/elon-musk.jpg" />
            </ion-avatar>
            <ion-label>
                <h2><b>Elon Musk</b></h2>
                <p>Il y a 23 min</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
            <ion-label text-wrap>Production version will be a lot more polished than this prototype, but still fun to see</ion-label>
        </ion-item>
        <img class="tweet-img" src="https://pbs.twimg.com/media/EFfmFEEU8AA1SmA?format=jpg&name=medium" />
        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="text"></ion-icon>
            34
        </ion-button>
        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="repeat"></ion-icon>
            67
        </ion-button>
        <ion-button size="small" fill="clear">
            <ion-icon slot="start" name="heart-empty"></ion-icon>
            298
        </ion-button>
    </ion-card>

    <ion-card>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="../../assets/elon-musk.jpg" />
            </ion-avatar>
            <ion-label>
                <h2><b>Elon Musk</b></h2>
                <p>Il y a 14 heures</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
            <ion-label text-wrap>Starship at our launch facility in Cameron County, Texas. Watch as <i>@elonmusk</i> gives an update on the vehicle today at ~7:00 p.m. CDT → <i>http://spacex.com/webcast</i></ion-label>
        </ion-item>
        <img class="tweet-img" src="https://pbs.twimg.com/media/EFjhHzwUEAIM2n_?format=jpg&name=medium">
        <ion-button size="small" fill="clear" (click)="onClick()">
            <ion-icon slot="start" name="text"></ion-icon> 34
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onClick()">
            <ion-icon slot="start" name="repeat"></ion-icon> 116
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onClick()">
            <ion-icon slot="start" name="heart-empty"></ion-icon> 210
        </ion-button>
    </ion-card>

    -->


    <ion-list>
        <ion-item>
            <ion-label>Notifications</ion-label>
            <ion-toggle [(ngModel)]="notifications"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Thème sombre</ion-label>
            <ion-toggle [(ngModel)]="darkTheme"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Langue</ion-label>
            <ion-select [(ngModel)]="language">
                <ion-select-option value="en">Anglais</ion-select-option>
                <ion-select-option value="fr">Français</ion-select-option>
                <ion-select-option value="es">Espagnol</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item (click)="changePassword()">
            <ion-label>Changer le mot de passe</ion-label>
        </ion-item>
        <ion-item (click)="geToLogin()">
            <ion-label>Se deconnecter</ion-label>
        </ion-item>
    </ion-list>
</ion-content>