<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="home" aria-hidden="true"></ion-icon>
            <ion-label>Home</ion-label>
            <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="commande" (click)="changePageToCommande()">
            <ion-icon name="people" aria-hidden="true"></ion-icon>
            <ion-label>Commandes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="client" (click)="changePageToClient()">
            <ion-icon name="people" aria-hidden="true"></ion-icon>
            <ion-label>Clients</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="livraison" (click)="onClick()">
            <ion-icon name="bicycle" aria-hidden="true"></ion-icon>
            <ion-label>Livraisons</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profil">
            <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>